@font-face
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff2') format("woff2"), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2') format("woff2"), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff2') format("woff2"), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2') format("woff2"), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'HelveticaNeueCyr'
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff2') format("woff2"), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff') format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap
  
@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?7fvxbt')
  src: url('../fonts/icomoon/icomoon.eot?7fvxbt#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?7fvxbt') format("truetype"), url('../fonts/icomoon/icomoon.woff?7fvxbt') format("woff"), url('../fonts/icomoon/icomoon.svg?7fvxbt#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block




[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1



.icon-user-2:before
  content: "\e91d"

.icon-clock:before
  content: "\e91e"

.icon-angle-down:before
  content: "\e900"

.icon-angle-left:before
  content: "\e901"

.icon-angle-right:before
  content: "\e902"

.icon-angle-up:before
  content: "\e903"

.icon-arrow-right:before
  content: "\e904"

.icon-calendar:before
  content: "\e905"

.icon-check:before
  content: "\e906"

.icon-close:before
  content: "\e907"

.icon-compare-off:before
  content: "\e908"

.icon-compare-on:before
  content: "\e909"

.icon-facebook:before
  content: "\e90a"

.icon-favorite-2:before
  content: "\e90b"

.icon-grid:before
  content: "\e90c"

.icon-heart:before
  content: "\e90d"

.icon-history:before
  content: "\e90e"

.icon-insta:before
  content: "\e90f"

.icon-menu:before
  content: "\e910"

.icon-ok:before
  content: "\e911"

.icon-pause:before
  content: "\e912"

.icon-search:before
  content: "\e913"

.icon-shopping-cart:before
  content: "\e914"

.icon-smartphone:before
  content: "\e915"

.icon-table:before
  content: "\e916"

.icon-telegram:before
  content: "\e917"

.icon-user:before
  content: "\e918"

.icon-viber:before
  content: "\e919"

.icon-vk:before
  content: "\e91a"

.icon-whatsapp:before
  content: "\e91b"

.icon-emove:before
  content: "\e91c"

.icon
  &-lattice
    width: 15px
    height: 15px
    display: inline-block
    background: url(../img/grid-ic.svg) no-repeat

  &-favorite
    width: 24px
    height: 24px
    display: inline-block
    background: url(../img/favorite-ic.svg) no-repeat center

  &-plus
    width: 14px
    height: 14px
    display: inline-block
    background: url(../img/plus-ic.svg) no-repeat center

  &-filter
    width: 22px
    height: 22px
    background: url(../img/filter.svg) no-repeat
    background-size: contain
    
  &-edit
    width: 24px
    height: 24px
    display: inline-block
    background: url(../img/edit-ic.svg) no-repeat center

  &-delete
    width: 24px
    height: 24px
    display: inline-block
    background: url(../img/delete-ic.svg) no-repeat center