@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: relative

	// &-fixed
	// 	position: fixed
	// 	left: 0
	// 	right: 0
	// 	top: 0
	// 	padding: 15px 0
	// 	z-index: 9999
	// 	transform: translate(0 0)
	// 	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)
	// 	border-bottom: 1px solid rgba(255, 255, 255, 0.2)


	&-top
		position: absolute
		left: 0
		right: 0
		top: 0
		display: flex
		justify-content: space-between
		align-items: center
		padding: 32px 56px
		z-index: 2

		&__left
			display: flex
			align-items: center

			span
				margin-left: 24px
				padding-left: 24px
				border-left: 1px solid rgba(255, 255, 255, 0.2)
				color: rgba(255, 255, 255, 0.7)

		&__right
			display: flex
			flex-wrap: wrap
			align-items: center

			.btn
				background: rgba(255, 255, 255, 0.2)
				border: 1px solid rgba(255, 255, 255, 0.7)

			&--tel
				margin-left: 32px
				font-weight: 500
				font-size: 18px
				line-height: 26px
				color: #fff

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap

		&__links
			list-style: none

			li
				display: inline-block
				margin-right: 32px
				vertical-align: middle

				&:last-child
					margin-right: 0

		&__messengers
			list-style: none

			li
				display: inline-block
				margin-right: 6px
				vertical-align: middle

				&:last-child
					margin-right: 0

			.icon
				display: flex
				align-items: center
				justify-content: center
				width: 34px
				height: 34px
				font-size: 18px
				border-radius: 50%
				color: #fff

				&-telegram
					background: #0088CC

				&-whatsapp
					background: #0DC143

				&-viber
					background: #675DA9

		&__tel
			text-align: right
			&--number
				display: block
				font-size: 20px
				line-height: 28px
				letter-spacing: 0.01em
				color: #000000
				font-weight: bold

	&-search
		position: relative
		margin-left: 32px

		&__btn
			padding: 0
			outline: none
			border: 0
			background-color: transparent
			color: #fff
			font-size: 16px

		&__form
			display: none
			position: absolute
			right: calc(100% + 15px)

	&-bottom
		padding: 24px 0
		background: #fff

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			
	&-btn
		display: flex
		flex-wrap: wrap
		align-items: center
		list-style: none

		li
			margin-left: 24px

			&:first-child
				margin-left: 0

			a
				font-size: 24px

				.icon
					font-size: 24px


		&__cart
			display: flex
			flex-wrap: wrap
			align-items: flex-start
			align-items: center

			.icon
				position: relative
				span
					position: absolute
					top: -10px
					right: -12px
					display: flex
					align-items: center
					justify-content: center
					width: 22px
					height: 22px
					font-size: 12px
					line-height: 12px
					color: #fff
					border-radius: 50%
					background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)


			&--text
				display: flex
				flex-direction: column
				padding-left: 20px
				font-size: 14px
				color: #2C3233

				strong
					font-size: 16px
					color: #000


	&-cart
		position: relative

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: -12px
			background-color: transparent
			height: 12px

		&__block
			display: none
			max-height: calc(100vh - 200px)
			position: absolute
			width: 372px
			right: 0
			top: calc(100% + 12px)
			padding: 24px 16px 16px
			background: #fff
			border-radius: 6px
			z-index: 100
			box-shadow: 0px 8px 32px rgba(61, 95, 102, 0.24)
			overflow-y: scroll

			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB

			&::-webkit-scrollbar
				width: 3px
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999

		.h4
			padding-bottom: 12px
			border-bottom: 1px solid #ECECEC
			color: #263239

			
		&__item
			display: flex
			flex-direction: row
			align-items: center
			padding: 12px 0
			border-bottom: 1px solid #ECECEC

			img
				max-width: 64px
				max-height: 56px

			&--text
				width: calc(100% - 88px)
				padding-left: 12px
				padding-right: 8px

				span
					display: block
					font-size: 14px
					line-height: 16px
					color: #455A64

				strong
					font-size: 16px
					line-height: 20px

			&--del
				padding: 0
				background-color: transparent
				outline: none
				border: 0
				color: #96969C
				font-size: 20px

				&:hover
					opacity: 1
					color: #000

		.btn
			width: 100%
			font-size: 14px




.banner
	display: flex
	flex-direction: row
	height: 100vh
	width: 100%
	background-size: cover
	background-position: center bottom
	background-size: cover
	background-repeat: no-repeat
	transition: all .5s

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background: linear-gradient(180deg, rgba(17, 55, 113, 0.2) 0%, rgba(17, 55, 113, 0.02) 100%), linear-gradient(180deg, #113771 0%, rgba(17, 55, 113, 0.1) 100%)

	&-item
		position: relative
		height: 100vh
		width: 16.66666667%
		display: flex
		align-items: center
		z-index: 1
		border-left: 1px solid rgba(255, 255, 255, 0.3)
		transition: all .3s

		&:first-child
			border: 0

		&:hover
			background: linear-gradient(180deg, #0D3572 0%, rgba(12, 47, 100, 0.8) 100%)

			.banner
				&-item
					&__content
						&--description
							position: static
							opacity: 1
						ul
							max-height: 600px
							overflow: visible
							opacity: 1



		&__content
			padding: 80px 48px

			&--title
				font-size: 24px
				line-height: 32px
				color: #fff

				a
					color: #fff

			&--description
				position: fixed
				left: -1000%
				opacity: 0
				transition: all .3s

			ul
				opacity: 0
				max-height: 0
				overflow: hidden
				margin-top: 30px
				transition: all .3s
				list-style: none

				li
					margin-bottom: 30px


					a
						font-size: 17px
						line-height: 22px
						font-weight: 500
						color: rgba(255, 255, 255, 0.7)

						&:hover
							opacity: 1
							font-weight: bold
							color: #fff

			.btn
				width: 100%
				padding: 14px 32px 12px
				background: rgba(255, 255, 255, 0.2)
				border: 1px solid rgba(255, 255, 255, 0.7)



.mobile-menu
	display: none



.btn
	padding: 15px 32px 13px
	font-weight: 500
	font-size: 14px
	line-height: 18px
	letter-spacing: 0.01em
	border-radius: 55px
	color: #fff
	outline: none
	text-align: center

	&:focus
		outline: none
		box-shadow: none
		color: #fff

	&:hover
		color: #fff

	&:active
		outline: none



	&-yellow
		background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)

		

	&-blue
		padding: 7px 14px
		background: #1A4395
		font-size: 14px
		line-height: 18px

		

	&-catalog
		display: inline-flex
		align-items: center
		padding: 16px 24px

		.icon
			position: relative
			top: 1px
			font-size: 20px
			color: rgba(255, 255, 255, 0.7)

		span
			font-weight: bold
			padding-left: 16px

	&-transparent
		padding: 14px 32px 12px
		color: #000
		background-color: transparent
		border: 1px solid #D9DBE2

		&:hover, &:focus
			border-color: #000
			opacity: 1
			color: #000

		&:active
			outline: none

			&:focus
				outline: none
				box-shadow: none

		&__red
			padding: 14px 32px 12px
			color: #C42441
			background-color: transparent
			border: 1px solid #C42441

			&:hover, &:focus
				color: #C42441


	&-large
		padding: 18px 28px 16px
		font-size: 18px
		line-height: 22px


	&-small
		display: inline-flex
		align-items: center
		justify-content: center
		width: 46px
		height: 46px
		border-radius: 6px
		outline: none
		border: 0


		&__add
			background: #DA7100

		&__edit
			border: 1px solid #D9DBE2

			&:hover
				opacity: 1
				border-color: #000

		&__delete
			background: #C42441















.catalog

	&-menu
		position: relative
		max-width: 282px
		padding-top: 40px
		list-style: none

		>li
			position: relative

			&.drop
				position: static

				&:before
					display: none

				&.active

					>a
						color: #eb5500

					.catalog-menu__drop
						display: flex

			>a
				display: flex
				align-items: center
				flex-wrap: wrap
				padding: 16px 0
				border-bottom: 1px solid #D9DBE2

				span
					width: calc(100% - 42px)
					padding-left: 16px
					line-height: 24px

		&__drop
			position: absolute
			top: 0
			bottom: 0
			left: 100%
			width: 180%
			flex-direction: column
			flex-wrap: wrap
			list-style: none


			&:before
				content: ''
				position: absolute
				left: 24px
				top: 0
				bottom: 0
				width: 1px
				height: 100%
				background: #D9DBE2


			li
				padding-left: 48px
				margin-bottom: 24px
				max-width: 272px

				a
					display: block
					font-size: 14px
					line-height: 20px

					&:hover
						opacity: 1
						color: #eb5500



	&-page
		display: flex
		flex-wrap: wrap

	&-products
		width: calc(100% - 282px)
		padding-left: 36px

	&-btn
		margin-left: 32px
		padding: 0
		border: 0
		background-color: transparent
		outline: none
		font-size: 24px
		color: #fff

		.icon
			position: relative
			top: 2px

	&-pagination
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center

		&__select
			.jq-selectbox
				width: auto
				&__select
					width: auto
						
				.jq-selectbox__select-text
					position: relative
					padding: 0 15px 0 0
					margin: 0
					border-radius: 0
					border: 0
					outline: none
					color: #000
					background: transparent
					font-size: 16px
					line-height: 20px
					cursor: pointer


					&::after
						content: '\e900'
						position: absolute
						right: 0
						top: 1px
						font-size: 10px
						font-family: icomoon
						color: #000
						


				&.opened
					.jq-selectbox__select-text
						

						&::after
							transform: rotate(180deg)

				.jq-selectbox__dropdown
					position: absolute
					top: 20px!important
					left: 0!important
					z-index: 999
					min-width: 100%
					max-width: 100%
					


					ul
						max-height: none !important
						min-width: 190px
						padding: 5px 0
						list-style: none
						overflow-y: scroll
						border-top: none
						background: #fff
						box-shadow: 0px 8px 24px rgba(163, 197, 204, 0.24)
						border-radius: 4px


						li
							padding: 6px 12px
							font-size: 14px
							line-height: 18px
							border: 0
							transition: all .3s
							cursor: pointer

							&:hover
								color: #000

						&::-webkit-scrollbar-track
							-webkit-box-shadow: inset 0
							background-color: #fff


						&::-webkit-scrollbar
							width: 0

						&::-webkit-scrollbar-thumb
							-webkit-box-shadow: inset 0
							background: #fff
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 16px

		h1, .h1
			margin: 0

		&__sort
			list-style: none

			li
				display: inline-block
				margin-right: 16px
				vertical-align: middle

				&:last-child
					margin-left: 0

				a
					line-height: 28px
					color: #000

					&.active
						color: #EB5500
					&:hover
						color: #EB5500
						opacity: 1

		&__view
			display: inline-flex
			padding: 4px
			background: #EDF0F2
			border-radius: 64px

			a
				display: flex
				align-items: center
				justify-content: center
				width: 48px
				height: 34px
				border-radius: 38px
				font-size: 22px
				color: #000

				&.active
					background: #fff
					color: #000

.section
	padding: 72px 0

	.h2
		margin: 0 0 32px
		text-align: center

	&-inner
		padding-top: 0
	

.brands

	&-slider
		padding-left: 50px
		padding-right: 50px

		&__item

			&--icon
				width: 128px
				height: 128px
				display: flex
				align-items: center
				justify-content: center
				margin: 0 auto 12px
				background: #fff
				border-radius: 50%

			span
				display: block
				text-align: center

		.slick
			&-arrow
				width: 36px
				height: 36px

				&:after
					position: absolute
					margin: auto
					font-size: 24px
					font-family: icomoon
					color: #000


				&:before
					display: none
			&-prev
				left: 0
				&:after
					content: '\e901'

			&-next
				right: 0
				&:after
					content: '\e902'
					


.bg
	&-grey
		background: #F5F6F7


.news

	&-block

		&.row
			margin-left: -40px
			margin-right: -40px

			[class^='col']
				padding-left: 40px
				padding-right: 40px

	&-wrap
		margin-bottom: 24px
		border-bottom: 1px solid #D9DBE2
		.row
			margin-left: -12px
			margin-right: -12px

			[class^='col']
				padding-left: 12px
				padding-right: 12px

		.news-item
			margin-bottom: 0
			padding-bottom: 24px


	&-banner

		&__item
			position: relative
			margin-bottom: 32px

			img
				width: 100%

			&--overlay
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				padding: 32px

			.h1
				margin: 0 0 4px
				color: #fff

			p
				margin-bottom: 37px
				color: #fff

			.btn
				background: rgba(255, 255, 255, 0.2)
				border: 1px solid rgba(255, 255, 255, 0.7)


	&-main

		&.row
			margin-left: -24px
			margin-right: -24px

			[class^='col']
				padding-left: 24px
				padding-right: 24px

		.col-lg-5
			.news-item
				margin-bottom: 32px
				

	&-item
		margin-bottom: 16px
		padding-bottom: 16px
		border-bottom: 1px solid #D9DBE2

		&:last-child
			border: 0

		&__img
			margin-bottom: 12px

			a
				display: block

			img
				display: block
				margin: 0 auto
				width: 100%

		&__header
			margin-bottom: 4px
			font-weight: bold
			line-height: 28px

		p
			margin-bottom: 4px
			color: #666666

		&__date
			display: inline-block
			padding: 6px 16px
			background: #F5F6F7
			border-radius: 6px
			line-height: 28px


.subscription
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	padding: 55px 0
	border-top: 1px solid #D9DBE2

	&-img
		margin-right: 32px

	&-text
		margin-right: 32px

		p
			max-width: 374px

	&-form
		position: relative
		width: 444px
		margin-bottom: 8px
		&__field
			width: 100%
			padding-left: 14px
			padding-right: 14px
			height: 46px
			line-height: 46px
			border: 1px solid #D9DBE2
			border-radius: 12px

			&:focus
				outline: none

		.btn
			position: absolute
			right: -52px
			top: 0
			padding: 13px 32px 12px





.check-list
	list-style: none

	&__item
		display: block
		margin-bottom: 12px

		input[type='checkbox']
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 28px
				cursor: pointer
				font-size: 14px
				line-height: 16px
				color: #666

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 16px
					height: 16px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border: 1px solid #D9DBE2
					border-radius: 4px
					


			&:checked
				&+label
					&::before
						content: '\e906'
						font-family: icomoon
						background: #EB5500
						color: #fff
						border-color: #EB5500
						font-size: 11px
						


		&.agreement
			padding-top: 8px
			input[type="radio"], input[type='checkbox']
				&+label
					&::before
						top: 2px

			a
				color: #666

	&__more
		padding: 0
		border: 0
		outline: 0
		background-color: transparent
		font-size: 14px
		color: #EB5500




.radio-list
	margin-bottom: 16px
	list-style: none

	&__item
		display: block
		margin-bottom: 16px

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 30px
				cursor: pointer
				font-size: 16px
				line-height: 20px

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 22px
					height: 22px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 4px solid #E0E0E0
					border-radius: 50%


			&:checked
				&+label
					&::before
						border-color: #EB5500
						border-width: 2px
					&::after
						content: ''
						position: absolute
						left: 5px
						top: 4px
						width: 12px
						height: 12px
						border-radius: 50%
						background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)


.radio-pay
	list-style: none

	&__item
		display: inline-block
		margin-right: 12px
		margin-bottom: 12px

		&:last-child
			margin-right: 0

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 8px 16px 6px
				cursor: pointer
				font-size: 15px
				line-height: 28px
				color: #000
				border: 1px solid #D9DBE2
				border-radius: 66px

			&:checked
				&+label
					font-weight: bold
					border-width: 2px
					border-color: #EB5500













.footer
	background: #113771
	.container
		max-width: 1344px

	&-wrap
		display: flex
		justify-content: space-between
		padding-top: 52px


	&-logo
		margin-bottom: 32px

	&-item

		.h3
			color: #fff

		&__social
			margin-bottom: 32px
			
			.h6
				margin-bottom: 12px
				color: #fff

			ul
				list-style: none

				li
					display: inline-block
					margin-right: 8px
					vertical-align: middle

					&:last-child
						margin-right: 0

					a
						display: block

						.icon
							display: flex
							align-items: center
							justify-content: center
							width: 40px
							height: 40px
							font-size: 20px
							border-radius: 50%
							color: #fff

							&-vk
								background: #4B729F

							&-facebook
								background: #3B5999

							&-insta
								background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%)

							&-ok
								background: #FF9800

							&-telegram
								background: #0088CC

							&-whatsapp
								background: #0DC143

							&-viber
								background: #675DA9
			
			&--payment

				ul
					display: flex
					flex-wrap: wrap

					li
						display: flex
						align-items: center
						justify-content: center
						margin-right: 6px
						width: 56px
						height: 36px
						background: #174182
						border-radius: 4px

						img
							max-height: 100%

		&__links
			max-width: 200px

			ul
				list-style: none

				li
					margin-bottom: 16px

					a
						line-height: 20px
						color: rgba(255, 255, 255, 0.7)

						&:hover
							opacity: 1
							color: #fff

			&+.footer-item__links
				padding-top: 20px

	&-bottom
		background: #10295A
		padding-top: 24px
		padding-bottom: 36px

		&__copyright
			margin-bottom: 12px
			font-size: 14px
			line-height: 16px
			color: #fff
			span
				padding-right: 24px

		p
			font-size: 14px
			line-height: 16px
			color: rgba(255, 255, 255, 0.7)

			a
				color: rgba(255, 255, 255, 0.7)

				&:hover
					opacity: 1
					color: #fff




.inner
	background: #F5F6F7

	&-white
		background: #fff

	.container
		padding-left: 15px
		padding-right: 15px
		max-width: 1230px

	.header
		box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08)

		&-top
			position: static
			display: block
			padding: 16px 0 14px
			background: #F5F6F7

	&-large
		.container
			max-width: 100%
			padding-left: 100px
			padding-right: 100px

			.catalog-top
				margin-top: 20px

.form

	&-search
		position: relative
		width: calc(100% - 480px)

		&.active
			.form

				&-search
					&__result
						display: block

			&+.form-search__result
				display: block
				position: static
				box-shadow: none

		&__field
			width: 100%
			height: 54px
			padding-left: 64px
			padding-right: 16px
			line-height: 54px
			background: #F5F6F7
			border-radius: 84px
			border: 2px solid transparent
			outline: none

			&:focus
				border-color: #1A4395

		&__btn
			position: absolute
			font-size: 16px
			left: 24px
			top: 19px
			padding: 0
			border: 0
			outline: none
			color: #2C3233
			background-color: transparent

		&__result
			display: none
			padding-left: 64px
			padding-top: 24px
			position: absolute
			left: 0
			right: 0
			top: calc(100% + 24px)
			z-index: 10
			background: #fff
			box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
			border-radius: 12px

			&--list
				list-style: none
			

			li
				margin-bottom: 24px
				line-height: 20px

				a
					display: block


.breadcrumbs
	
	list-style: none
	

	&-wrap
		background: rgba(255, 255, 255, 0.7)
		padding: 16px 0
		margin: 16px 0 16px

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		color: #666666

		&:first-child
			color: #000

			a
				color: #000


		+ li::before
			content: "/"
			padding: 0 16px 0 16px
			color: #666666
			font-size: 18px

		a
			color: #666666

.pagination
	display: flex
	align-items: center
	flex-wrap: wrap
	margin: 0
	list-style: none


	>li
		margin: 0 6px
		color: #000

		&:not(.pagination-arrow)

			>a
				display: flex
				align-items: center
				justify-content: center
				width: 36px
				height: 36px
				color: #000
				font-size: 15px
				line-height: 18px
				border-radius: 4px
				background: transparent
				border: 0 

				&.active
					border: 1px solid #000
					background: transparent

				&:hover, &:focus
					background: #ECECEC
					border-color: #ECECEC

		>span
			border: 0
			color: #000
			background: transparent

			&:hover, &:focus
				background: transparent

		&:first-child, &:last-child
			>a, > span
				display: inline-block
				color: #000 
				font-size: 14px
				padding: 0 
				float: none
				background: transparent
				border: 0 

				&:hover, &:focus
					background: transparent 


	&-arrow

		>a
			display: inline-block
			color: #000 
			font-size: 14px
			padding: 0 
			float: none
			border: 0 
			background: transparent

			&:hover, &:focus
				background: transparent 


.product

	&-table
		display: table
		width: 100%
		margin-bottom: 24px
		border-collapse: collapse

		p
			color: #000

		&__row
			display: table-row

		&__col
			display: table-cell
			vertical-align: middle
			padding-top: 24px
			padding-bottom: 24px
			padding-right: 24px
			border-bottom: 1px solid #D9DBE2

			&:last-child
				padding-right: 0

		&__img
			width: 84px

		&__info
			width: 180px

		&__price
			width: 210px

			&--wrap
				display: flex
				align-items: center

				p

					strong
						padding-right: 12px
						font-weight: 900
						color: #000

				button
					width: 44px
					height: 44px
					display: flex
					align-items: center
					justify-content: center
					background-color: transparent
					padding: 0
					margin-left: 16px
					outline: none
					border: 0
					border-radius: 50%

					&.active
						background: #EDF0F2

		&__cart
			width: 200px

			.btn
				min-width: 180px

		&__compare
			width: 90px

			.product-item__compare
				margin: 0



	&-wrap

		&.row
			margin-left: -12px
			margin-right: -12px

			[class^='col']
				padding-left: 12px
				padding-right: 12px

		&__list


			.product
				&-item
					display: flex
					flex-wrap: wrap
					padding: 16px 12px
					margin-left: -12px
					margin-right: -12px

					&__img
						padding-left: 12px
						padding-right: 12px
						max-width: 258px
						height: auto
						margin: 0

						a, img
							display: block

					&__middle
						padding-left: 12px
						padding-right: 12px
						max-width: 324px

					&__right
						width: 240px

					&__name
						height: auto

					&__info
						list-style: none

						li
							line-height: 28px

							span
								&:first-child
									padding-right: 8px
									color: #666666

					&__price
						margin-bottom: 16px
						font-size: 28px
						line-height: 36px

						strong
							padding-right: 8px

					&__btn
						justify-content: space-between
						align-items: center
						margin-bottom: 16px
						

						button
							border-radius: 50%
							.icon
								width: 44px
								height: 44px
								border: 1px solid #d9dbe2

							&.active
								background: #F5F6F7
								border-color: #F5F6F7

						.btn
							width: calc(100% - 52px)
							padding: 14px 32px 12px






	&-item
		margin-bottom: 24px
		padding: 12px
		box-shadow: 0px 4px 12px rgba(18, 42, 78, 0.06)
		border: 1px solid #D9DBE2
		border-radius: 12px
		background: #fff

		&__img
			display: flex
			align-items: center
			justify-content: center
			height: 280px
			margin-bottom: 16px

		&__name
			margin-bottom: 16px
			height: 56px
			overflow: hidden
			line-height: 28px

		&__compare
			width: 88px
			height: 30px
			margin-bottom: 16px
			padding: 0 6px
			display: flex
			align-items: center
			justify-content: center
			border: 1px solid #D9DBE2
			border-radius: 4px

			.check-list__item, .radio-list__item
				margin-bottom: 0

			.check-list__item input[type=checkbox]+label, .check-list__item input[type=radio]+label, .radio-list__item input[type=checkbox]+label, .radio-list__item input[type=radio]+label
				font-size: 12px
				line-height: 14px
				padding-left: 21px


				&:before
					border: 1px solid #D9DBE2
					border-radius: 4px

			.check-list__item input[type=checkbox]:checked+label::before, .check-list__item input[type=radio]:checked+label::before, .radio-list__item input[type=checkbox]:checked+label::before, .radio-list__item input[type=radio]:checked+label::before
				border-color: #eb5500

		&__bottom
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			align-items: center
			font-size: 20px
			line-height: 22px

			strong
				font-weight: 900

			span
				padding-left: 4px

		&__btn
			display: flex
			align-items: center
			flex-wrap: wrap

			button
				margin-left: 8px
				padding: 0
				border: 0
				outline: none
				background-color: transparent

				&:first-child
					margin-left: 0

				.icon
					width: 40px
					height: 40px
					display: flex
					align-items: center
					justify-content: center
					color: #666
					border-radius: 50%
					font-size: 20px

					&-heart
						background: #F5F6F7

					&-shopping-cart
						border: 1px solid #D9DBE2
	
	&-add
		text-align: center

		&__link
			display: flex
			align-items: center
			justify-content: center
			width: 282px
			height: 248px
			margin-bottom: 16px
			background: #D9DBE2
			border-radius: 12px

			span
				color: #666
				font-size: 70px
				line-height: 70px
				font-weight: bold
		p
			margin-bottom: 16px
			color: #000

		.btn
			width: 100%

	&-characteristics
		padding: 24px 16px
		margin-bottom: 24px
		background: #FFFFFF
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

		.h2
			margin: 0 0 24px
			padding-left: 24px
			text-align: left


		&__wrap
			&.row
				margin-left: -6px
				margin-right: -6px

				[class^='col']
					padding-left: 6px
					padding-right: 6px

		&__item

			.h4
				margin: 0 0 12px
				padding-left: 24px

		&__list
			list-style: none

			li
				padding: 18px 0px 12px 24px

				&:nth-child(odd)
					background: #F5F6F7
					border-radius: 12px

				span
					display: block

		&__header
			margin-bottom: 2px
			font-size: 12px
			line-height: 14px
			color: #666666

		&__value
			line-height: 28px
				

	&-related
		padding: 24px 40px
		background: #FFFFFF
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

		.h2
			margin: 0 0 24px
			padding-left: 24px
			text-align: left

		&__wrap
			display: flex
			flex-wrap: wrap

			&.row
				margin-left: -12px
				margin-right: -12px

				.col
					width: 20%
					padding-left: 12px
					padding-right: 12px
					border-right: 1px solid #D9DBE2

			.product
				&-item
					padding: 0
					max-width: 186px
					margin: 0 auto
					border: 0
					box-shadow: none

					&__name
						height: 78px











.page-404
	max-width: 588px
	margin: 0 auto
	padding: 72px 0 0
	text-align: center

	img
		display: block
		margin: 0 auto 48px


	.h1
		margin-bottom: 24px

	&__tel
		margin-bottom: 24px

		p
			color: #455A64

		&--number
			font-size: 20px
			line-height: 28px


.compare

	&-product
		display: flex
		flex-wrap: wrap

		.product
			&-item
				max-width: 220px
				margin-right: 24px

	&-characteristics
		padding-bottom: 24px
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08)
		border-radius: 6px
		background: #fff

		&__header
			display: flex
			align-items: center
			justify-content: space-between
			padding: 24px

		&__item
			padding: 12px 0

			.h4
				position: relative
				display: inline-block
				padding: 0 24px
				cursor: pointer

				&:before
					content: '\e900'
					position: absolute
					right: 0
					top: 2px
					font-size: 15px
					font-weight: bold
					color: #000
					font-family: icomoon

				&.active

					&:before
						transform: rotate(180deg)

			&--wrap
				display: none
				margin-top: 12px

				&.active
					display: block
				

				ul
					display: flex
					flex-wrap: wrap
					list-style: none

					li
						max-width: 306px
						width: 100%
						padding: 18px 24px 12px

						span
							display: block

					&:nth-child(odd)
						background: #F5F6F7

		&__type
			margin-bottom: 2px
			font-size: 12px
			line-height: 14px
			color: #666666

		&__value
			font-size: 16px
			line-height: 28px
			color: #000


	



.switch

	&-wrap
		display: flex
		align-items: center

	&-text
		padding-left: 8px
		font-size: 15px
		line-height: 18px

	&-check
		display: none

		&+label
			position: relative
			display: block
			width: 38px
			height: 22px
			border-radius: 10px
			background: #D9DBE2			
			cursor: pointer
			transition-duration: 300ms

			&:after
				content: ""
				position: absolute
				height: 18px
				width: 18px
				border-radius: 50%
				background: #FFFFFF
				box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4)
				top: 2px
				left: 3px
				transition-duration: 300ms
				z-index: 1

		&:checked

			&+label
				background: #DA7100
				&::after
					left: 19px
					background: #fff




.sidebar
	width: 282px
	height: 100%

	&-item
		padding: 20px 16px
		margin-bottom: 32px
		background: #FFFFFF
		border: 1px solid #D9DBE2
		border-radius: 12px

		&.active
			.sidebar-item__block--hidden
				display: block


		&__header
			
			&--wrap
				display: flex
				align-items: center
				justify-content: space-between
				margin-bottom: 6px

			&--toggler
				position: relative
				cursor: pointer

				&:before
					content: '\e900'
					position: absolute
					right: 0
					top: 0
					font-size: 14px
					color: #000
					font-family: icomoon

				&.active
					&:before
						transform: rotate(180deg)
		
		&__body
			display: none
			margin-top: 12px

		&__block
			margin-bottom: 24px

			&--hidden
				display: none

				

			&--header
				margin-bottom: 8px
				line-height: 28px

			&--toggler
				position: relative
				cursor: pointer

				&:before
					content: '\e900'
					position: absolute
					right: 0
					top: 0
					font-size: 14px
					color: #000
					font-family: icomoon

				&.active
					&:before
						transform: rotate(180deg)

			&--more
				width: 100%

		&__checkboxes

			.check-list
				padding-top: 1px
				max-height: 178px
				overflow: hidden

			&.active
				.check-list
					overflow: visible
					max-height: none

			.check-list__item input[type=checkbox]+label, .check-list__item input[type=radio]+label, .radio-list__item input[type=checkbox]+label, .radio-list__item input[type=radio]+label
				font-size: 12px
				line-height: 14px
				padding-left: 21px
				color: #000



	&-mobile__btn
		display: none
		background: #1a4395
		width: 36px
		height: 36px
		outline: none
		border: 0
		border-radius: 0 2px 2px 0

		&.active
			.icon-filter
				&:before
					content: "\e907"
					font-family: icomoon
					font-size: 20px

		&:focus
			opacity: 1




.category

	&-menu
		list-style: none

		>li

			>a
				display: block
				padding: 12px 10px
				font-size: 14px
				line-height: 16px
				color: #000
				border-radius: 12px

				&:hover
					opacity: 1
					color: #EB5500
					background: #F5F6F7

			ul
				list-style: none

				li

					a
						display: block
						padding: 12px 35px
						color: #000
						border-radius: 12px
						font-size: 14px
						line-height: 14px

					ul
						li
							a
								padding: 12px 45px
								font-size: 12px


.drop
	position: relative
	transition: all .3s

	ul
		display: none

	&:before
		content: '\e900'
		position: absolute
		right: 10px
		top: 16px
		font-size: 11px
		color: #000
		font-family: icomoon

	&:hover
		&:before
			color: #EB5500

	>a
		&.active
			color: #EB5500
			background: #F5F6F7
		


.filter

	&-clear
		padding: 0
		background-color: transparent
		border: 0
		outline: none
		color: #C32441
		font-size: 14px

	&-search
		font-size: 14px
		line-height: 16px

		&__field
			width: 100%
			height: 30px
			padding: 0 6px
			line-height: 30px
			border: 1px solid #D9DBE2
			border-radius: 6px

			&:focus
				outline: none



#slider-range
	margin: 0 auto
	width: auto



.amount-wrapper
	position: relative
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 22px


	input
		display: inline-block
		width: 43%
		height: 30px
		padding: 0 6px
		line-height: 30px
		outline: none
		background: #fff
		color: #666
		font-size: 14px
		border: 1px solid #D9DBE2
		border-radius: 6px


	span
		display: inline-block



	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 3px
	background: #D6D6D6
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 16px
	height: 16px
	border-radius: 50%
	background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)

.ui-slider-horizontal
	.ui-slider-range
		height: 3px
		border-radius: 0
		background: #1A4395
	.ui-slider-handle
		outline: none
		top: -6px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE



.account
	display: flex

	&-sidebar
		width: 282px
		height: 100%
		padding: 36px
		background: #FFFFFF
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

	&-content
		padding-left: 24px
		width: calc(100% - 282px)
		min-height: 650px

	&-menu

		list-style: none

		li
			margin-bottom: 16px

			&:last-child
				padding-top: 16px
				border-top: 1px solid #D9DBE2

				a
					padding-left: 48px
					color: #C42441

			a
				display: flex
				align-items: center
				padding: 10px 12px
				border-radius: 6px
				line-height: 16px
				color: #2C3233

				&:hover
					opacity: 1
					background: #F5F6F7

				&.active
					background: #F5F6F7
					color: #1A4395

				.icon
					display: inline-flex
					align-items: center
					justify-content: center
					width: 24px
					height: 24px
					margin-right: 16px
					font-size: 24px

	&-orders
		background-image: url(../img/account-orders.png)
		background-position: left 90%
		background-repeat: no-repeat

	&-favorites
		background-image: url(../img/account-favorites.png)
		background-position: left bottom
		background-repeat: no-repeat

	&-user
		background-image: url(../img/account-user.png)
		background-position: left bottom
		background-repeat: no-repeat

	&-select

		&__mobile
			max-width: 282px


.radio-btn
	list-style: none

	li
		display: inline-block
		margin-right: 24px

		input[type='radio']
			display: none

			&+label
				padding: 12px 16px 10px
				border: 1px solid #D9DBE2
				line-height: 18px
				border-radius: 12px
				cursor: pointer

			&:checked

				&+label
					background: #1A4395
					border-color: #1A4395
					color: #fff
					box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)


.form

	&-label
		position: absolute
		left: 14px
		top: 14px
		font-size: 16px
		line-height: 20px
		color: #666
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		
		z-index: -1

	&-item
		position: relative
		margin-bottom: 12px

		&.active
				
			.form-field
				padding-top: 8px
				border-color: #DA7100

				&.phone-mask
					padding-top: 16px

				

			.form-label
				top: -2px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: #DA7100
				z-index: 5

			textarea
				padding-top: 18px

		&__code
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 16px

			.form-field	
				width: calc(100% - 166px)

		&__select
			
			&--btn
				display: flex
				align-items: center
				flex-wrap: wrap

	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 46px
		line-height: 46px
		padding: 4px 14px 0
		background: transparent
		border-radius: 12px
		border: none
		border: 1px solid #D9DBE2
		outline: none
		color: #000
		font-size: 16px
		line-height: 20px

		&:hover
			opacity: 1

		&:focus
			&::-webkit-input-placeholder
				opacity: 0



	textarea
		width: 100%
		height: 96px


.orders

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 24px

		&__period
			display: flex
			flex-wrap: wrap
			align-items: center

			&--choose
				position: relative

				&:before
					content: '\e905'
					position: absolute
					left: 16px
					top: 9px
					font-size: 24px
					color: #000
					font-family: icomoon


				input
					max-width: 192px
					padding-top: 2px
					padding-left: 52px
					padding-right: 10px
					height: 42px
					line-height: 41px
					border: 1px solid #D9DBE2
					border-radius: 12px
					background-color: transparent

					&:focus
						outline: none
						border-color: #000


				input::-webkit-input-placeholder
					color: #000
					line-height: 18px

				input:-moz-placeholder 
					color: #000
					line-height: 18px

				input::-moz-placeholder 
					color: #000
					line-height: 18px

				input:-ms-input-placeholder 
					color: #000
					line-height: 18px

		&__search
			position: relative
			width: 282px

			.form
				&-item
					margin-bottom: 0
				&-field	
					background-color: transparent

			&--btn
				position: absolute
				top: 13px
				right: 13px
				padding: 0
				outline: none
				border: 0
				background-color: transparent

				.icon
					font-size: 20px
					color: #000
	&-block
		display: flex
		flex-wrap: wrap
		align-items: center
		padding: 24px
		margin-bottom: 24px
		background: #FFFFFF
		box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08)
		border-radius: 6px

		&.row
			margin-left: -8px
			margin-right: -8px

			[class^='col']
				padding-left: 8px
				padding-right: 8px

			.col-lg-7
				width: 61%

			.col-lg-5
				width: 39%

		&__info

			&--top
				margin-bottom: 32px
				display: flex
				align-items: center


			&--code
				list-style: none

				li
					display: inline-block
					padding-right: 10px
					line-height: 18px

					&+li
						padding-left: 10px
						border-left: 1px solid #D9DBE2

			&--tag
				padding-left: 12px

			&--bottom
				display: flex
				flex-wrap: wrap

			
			&--data
				margin-right: 24px
				list-style: none

				li
					margin-bottom: 2px
					font-size: 14px
					line-height: 16px
					color: #2C3233

					strong
						font-weight: bold
						font-size: 16px
						line-height: 28px
						color: #000

				&:last-child
					margin-right: 0

		&__products
			display: flex
			flex-wrap: wrap
			justify-content: flex-end

			&--img
				position: relative
				margin-left: 12px

				&:first-child
					margin-left: 0

				img
					display: block
					margin: 0 auto
					max-width: 96px
					max-height: 96px

			&--all
				position: relative
				border-radius: 6px
				background: rgba(196, 196, 196, 0.2)

				img
					filter: blur(6px)

				span
					position: absolute
					left: 0
					right: 0
					top: 0
					bottom: 0
					width: 38px
					height: 38px
					margin: auto
					display: flex
					align-items: center
					justify-content: center
					font-weight: bold
					font-size: 16px
					line-height: 28px
					color: #1A4395
					background: #fff
					border-radius: 50%
					z-index: 10






.tag

	&-item
		display: inline-block
		padding: 13px 16px 11px
		margin: 0 8px 0 0
		vertical-align: middle
		border-radius: 12px
		line-height: 18px

		&:last-child
			margin-right: 0

	&-waiting
		color: #DA7100
		background: #F2E6D9

	&-canceled
		color: #C42441
		background: #F4DCE0





select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 13px 14px 11px 16px
		margin-bottom: 12px
		border-radius: 6px
		border: 1px solid #d9dbe2
		outline: none
		line-height: 20px


		&::after
			content: '\e900'
			position: absolute
			right: 15px
			top: 15px
			font-family: icomoon
			font-size: 16px
			color: #000
			


	&.opened
		.jq-selectbox__select-text
			border-color: #0e969e
			background: #fff

			&::after
				transform: rotate(180deg)

	.jq-selectbox__dropdown
		position: absolute
		top: 46px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #eaf1f5
			border-radius: 0 0 4px 4px


			li
				padding: 14px 18px
				font-size: 14px
				line-height: 18px
				border-bottom: 1px solid rgba(256,256,256, .8)
				transition: all .3s
				cursor: pointer

				&:hover
					color: #000


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 6px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #0e969e


.favorites
	background: #FFFFFF
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08)
	border-radius: 12px

	&-top
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		padding: 36px 24px 24px

		&__left
			max-width: 466px
			width: 100%

			span
				display: block
				font-size: 14px
				line-height: 16px
				color: #666

			.jq-selectbox
				max-width: 282px

				.jq-selectbox__select-text
					margin-bottom: 0

			.form-item__select
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: 12px

				.btn-small
					margin-left: 12px	

		&__right
			display: flex
			align-items: center
			flex-wrap: wrap

			&--price
				font-size: 18px
				line-height: 24px
				strong
					padding-right: 4px
					font-weight: 900

				span
					color: #2C3233

			.btn
				margin-left: 24px
	
	&-btn
		display: flex
		align-items: center
		justify-content: space-between
		padding: 32px 24px
		background: #F5F6F7
		border: 1px solid #D9DBE2

	&-item
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		padding-left: 12px
		padding-right: 24px
		padding-top: 24px
		padding-bottom: 24px
		border-bottom: 1px solid #D9DBE2

		&__left
			display: flex
			flex-wrap: wrap
			align-items: center
			max-width: 460px
			width: 100%

		&__right
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: flex-end
			max-width: 368px
			width: 100%

			.btn-transparent
				padding-left: 24px
				padding-right: 24px

		&__img
			width: 90px

			img
				display: block
				margin: 0 auto
				max-height: 90px

		&__text
			width: calc(100% - 90px)
			padding-left: 12px

			p
				margin: 0
				color: #000

		&__price
			display: flex
			flex-wrap: wrap
			font-size: 18px
			line-height: 24px

			strong
				padding-right: 4px
				font-weight: 900

			span
				color: #2C3233

		&__btn
			width: 96px
			text-align: right

			&--del
				margin-bottom: 16px
				padding: 0
				border: 0
				outline: none
				background-color: transparent
				font-weight: 550
				font-size: 14px
				line-height: 18px
				color: #666

				&:hover
					color: #C42441
					opacity: 1

			&--round
				display: flex
				align-items: center
				justify-content: space-between

				button
					padding: 0
					border: 0
					outline: none
					background-color: transparent


					.icon
						width: 44px
						height: 44px
						display: flex
						align-items: center
						justify-content: center
						border-radius: 50%
						font-size: 20px
						border: 1px solid #d9dbe2

	&-select
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding: 32px 24px
		background: #1A4395

		&__check

			.check-list__item
				margin-bottom: 0

			input[type=checkbox]
				&+label
					color: #fff

					&:before
						border-radius: 2px
						background: transparent
						border: 2px solid #fff

				&:checked

					&+label

						&:before
							border: 2px solid #fff
							border-radius: 2px
							background: transparent

		&__btn
			display: flex
			flex-wrap: wrap

			.btn

				&-transparent
					color: #fff

					&:hover
						opacity: .8
						border-color: #fff

				&-clean
					color: rgba(255, 255, 255, 0.7)

					&:hover
						opacity: 1
						color: #fff

	&-check

		.favorites
			&-item
				&__img
					width: 134px
					display: flex
					justify-content: space-between
					align-items: center

					img
						display: inline-block

					input[type=checkbox]
						&+label
							color: #fff

							&:before
								border-radius: 2px
								background: transparent
								border: 2px solid #eb5500

						&:checked

							&+label

								&:before
									border: 2px solid #eb5500
									border-radius: 2px
									background: #eb5500

				&__text
					width: calc(100% - 136px)

				&__btn
					width: 57px

					&--round
						justify-content: flex-end

				&__right
					max-width: 350px

				&__price
					margin: 0 0 10px


.user
	&-info
		padding: 36px
		background: #fff
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

		&__item
			padding-bottom: 32px
			margin-bottom: 32px
			border-bottom: 1px solid #D9DBE2

			p
				max-width: 595px
				margin-bottom: 16px

		.h4
			margin-bottom: 16px

		.form
			max-width: 260px

			.btn
				width: 100%

.count
	display: flex
	align-items: center
	justify-content: space-between
	width: 116px


	&-btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 32px
		height: 32px
		border-radius: 50%
		background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)
		border: 0
		outline: none

		.icon
			font-size: 18px

			&:before
				color: #fff
				transition: all .3s

				

		&:hover
			opacity: 1
			background: #C42441
			
	&-value
		width: 40px
		height: 32px
		padding: 0 8px
		line-height: 32px
		border: 1px solid #D9DBE2
		border-radius: 12px
		outline: none
		background-color: transparent





.basket
	padding-top: 12px

	&-back
		display: inline-block
		margin-bottom: 12px
		line-height: 28px
		color: #666666

	&-wrap
		display: flex
		flex-wrap: wrap

	&-block
		width: calc(100% - 282px)
		padding-right: 32px

	&-sidebar
		width: 282px

		>.btn
			width: 100%
			margin-bottom: 12px

	&-search
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding: 12px
		margin-bottom: 20px
		background: #FFFFFF
		box-shadow: 0px 4px 12px rgba(18, 42, 78, 0.06)
		border-radius: 12px

		&__form
			width: calc(100% - 348px)

		.btn
			height: 100%

	&-header
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: space-between
		margin-bottom: 16px

		h1, .h1
			margin: 0

		a
			display: inline-block
			font-weight: 550
			font-size: 14px
			line-height: 18px
			color: #666

	&-item
		margin-bottom: 16px
		padding-bottom: 16px
		border-bottom: 1px solid #D9DBE2

	&-table
		display: table
		width: 100%
		padding: 12px
		background: #FFFFFF
		box-shadow: 0px 4px 12px rgba(18, 42, 78, 0.06)
		border-radius: 6px

		&__header
			background-color: transparent
			box-shadow: none
			color: #2C3233

			.basket
				&-table

					&__col

						&--name
							padding-left: 106px

		&__row
			display: table-row

		&__col
			display: table-cell
			padding-right: 20px
			vertical-align: middle

			&:last-child
				padding-right: 0

			&--name
			
			&--count
				width: 140px

			&--price
				width: 125px

			&--summ
				width: 104px

		&__info
			display: flex
			flex-wrap: wrap

		&__img
			width: 94px

		&__text
			width: calc(100% - 94px)
			padding-left: 12px

			p
				color: #000

	&-total
		padding: 24px 16px
		margin-bottom: 12px
		background: #FFFFFF
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08)
		border-radius: 6px

		.h3
			margin: 0 0 12px
		&__list
			list-style: none

			li
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				margin-bottom: 12px

				span
					font-size: 15px
					line-height: 18px
					

					&:first-child
						color: #535357

		&__price
			margin-bottom: 12px
			font-size: 28px
			line-height: 26px

			strong
				font-weight: 900
				padding-right: 4px

		.btn
			width: 100%

		&__sum
			display: flex
			align-items: center
			justify-content: space-between
			padding-top: 12px
			margin-bottom: 12px



.accessories
	display: flex
	flex-wrap: wrap
	padding-top: 15px
	margin-top: 15px
	border-top: 1px solid #D9DBE2

	&-header
		width: 175px

		.h6
			margin-bottom: 16px

		&__link
			display: inline-block
			color: #EB5500
			text-decoration: underline

	&-wrap
		width: calc(100% - 175px)
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&-item
		display: flex
		flex-wrap: wrap
		max-width: 310px
		width: 100%
		padding: 16px
		border: 1px solid #D9DBE2
		background: #fff
		border-radius: 6px

		&__img
			width: 66px

		&__info
			width: calc(100% - 66px)
			padding-left: 12px

			p
				margin-bottom: 12px
				color: #000
		
			&--price
				display: flex
				flex-wrap: wrap
				align-items: center

				.count
					width: auto

				strong
					padding-left: 8px
					font-weight: 900

.tabs
	&-mobile__btn
		display: none

	&-item
		display: none

		&.active
			display: block



.attach
	margin-bottom: 0

	input[type='file']
		display: none

.attach__item
	&:last-of-type
		margin-bottom: 0px
		border-bottom: none

	label
		display: block

.attach__up
	display: inline-block
	padding: 14px 32px 12px
	color: #000
	background-color: transparent
	border: 1px solid #D9DBE2
	font-size: 14px
	line-height: 18px
	border-radius: 47px
	cursor: pointer

	&:hover
		border-color: #000


.attach__edit, .attach__delete
	display: none
	margin-right: 3px
	cursor: pointer

.attach__edit
	color: #2f7dfe
	

.attach__delete
	color: #000
	font-size: 20px

.attach__item--attached
	margin-bottom: 10px
	.attach__up
		display: none
	.attach__delete
		position: relative
		top: -2px
		display: inline-block
		vertical-align: middle

	.attach__name
		display: inline-block



.attach__input
	display: none

.attach__name
	display: block
	font-size: 16px
	line-height: 22px
	color: #000000













.order
	padding-top: 24px

	&-wrap
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&-content
		width: 700px
		padding-bottom: 24px

	&-sidebar
		width: 384px

		.order
			&-total
				&__summ
					padding: 0
					margin: 0 0 12px
					border: 0

				&__item
					padding-bottom: 12px
					margin-bottom: 12px
					border-bottom: 1px solid #D9DBE2

				.btn
					padding: 17px 32px 15px
					width: 100%
					font-size: 18px
					line-height: 22px




	.tabs-nav
		display: inline-flex
		width: auto
		margin-bottom: 32px
		padding: 4px
		border-radius: 50px
		border: 1px solid #EB5500
		list-style: none

		li

			a
				display: block
				padding: 15px 24px 13px
				min-width: 172px
				border-radius: 50px
				color: #000
				font-size: 14px
				line-height: 18px
				font-weight: 550
				text-align: center

				&:before
					display: none

				&.active
					background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)
					color: #FFFFFF

	&-item
		max-width: 700px
		padding-bottom: 16px

		&__block
			margin-bottom: 32px

			.h6
				margin: 0 0 16px

			&--user
				display: flex
				justify-content: space-between
				flex-wrap: wrap

				.form-item
					width: 49%

			&--delivery
				max-width: 282px

			&--row
				display: flex
				justify-content: space-between
				flex-wrap: wrap

				.form-item
					width: 48%

		p
			margin-bottom: 24px
			font-size: 14px
			line-height: 16px

	&-total
		max-width: 406px
		padding: 24px
		margin-bottom: 24px
		background: #FFFFFF
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 8px

		.h3
			margin-bottom: 12px

		&__item
			margin-bottom: 12px

			p
				margin-bottom: 12px
				font-size: 14px
				line-height: 24px
				color: #000

			&--price
				font-size: 15px
				line-height: 18px
				color: #565656

		&+p
			font-size: 14px
			line-height: 16px

		ul
			padding-bottom: 6px

		&__summ
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			padding-top: 16px
			margin-bottom: 16px
			border-top: 1px solid #D9DBE2

			>span
				font-weight: 300
				font-size: 32px
				line-height: 36px

			&--value
				font-size: 28px
				line-height: 36px

				strong
					padding-right: 4px
					font-weight: 900

		.btn
			margin-bottom: 8px

		&__succses
			display: flex
			justify-content: flex-end

			.order
				&-total
					max-width: 370px
					width: 100%
					background-color: transparent
					box-shadow: none
					padding: 0


					.btn
						width: 100%


	&-info
		padding: 24px
		border: 1px solid #D9DBE2
		border-radius: 6px
		list-style: none

		li
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 12px
			font-size: 15px
			line-height: 20px

			span
				&:first-child
					width: 180px
					color: #666666

				&:last-child
					width: calc(100% - 180px)
					text-align: left
	&-table
		width: 100%

		thead

			td
				padding-bottom: 24px
				padding-left: 24px
				line-height: 20px
				color: #666

				&:first-child
					padding-left: 0

		tbody

			tr
				td
					padding-bottom: 24px
					padding-left: 24px
					border-bottom: 1px solid #D9DBE2

					&:last-child
						font-weight: bold

					&:first-child
						width: 54%
						padding-right: 24px
						padding-left: 0

						img
							max-width: 78px
							display: inline-block
							vertical-align: middle

						span
							display: inline-block
							width: calc(100% - 78px)
							padding-left: 12px
							vertical-align: middle
							line-height: 28px


		&__wrap
			padding: 42px 36px
			margin-bottom: 32px
			background: #FFFFFF
			box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
			border-radius: 6px

			.h2
				margin-bottom: 36px






.succses
	max-width: 1000px
	margin: 0 auto
	padding: 96px 0

	&-top
		display: flex
		flex-wrap: wrap
		margin-bottom: 72px

		&__text
			padding-left: 48px
			width: calc(100% - 400px)

			.h1
				margin: 0

				&+p
					margin-bottom: 16px

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between







.card
	margin-bottom: 90px
	padding: 24px 0 12px
	margin-bottom: 24px
	background: #fff

	&-img
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		&__slider
			width: calc(100% - 86px)


			&--nav
				width: 74px
				

				.slick
					&-list
						padding-left: 7px

					&-slide
						margin-bottom: 16px
						outline: none

					&-current
						position: relative

						&:before
							content: ''
							position: absolute
							left: -7px
							width: 3px
							height: 100%
							background: linear-gradient(180deg, #EE7C00 0%, #EB5500 100%)
	
	&-info
		padding-right: 24px

		.row
			margin-left: -12px
			margin-right: -12px

			[class^='col']
				padding-left: 12px
				padding-right: 12px

	&-price
		&__top
			display: flex
			flex-wrap: wrap
			margin-bottom: 4px

		&__old
			font-weight: 550
			font-size: 26px
			line-height: 26px
			letter-spacing: -0.02em
			text-decoration-line: line-through
			color: #666666

			span
				padding-left: 6px

		&__sale
			margin-left: 16px
			padding: 4px 9px 2px
			background: #C42441
			border-radius: 55px
			font-weight: 550
			font-size: 14px
			line-height: 18px
			letter-spacing: 0.01em
			color: #FFFFFF

		&__current
			display: flex
			flex-wrap: wrap
			align-items: flex-end
			margin-bottom: 16px
			font-size: 40px
			line-height: 50px
			letter-spacing: -0.02em

			&--value
				padding: 5px 10px
				margin-right: 12px
				color: #FFFFFF
				background: #C42441
				font-weight: bold

		.btn
			width: 100%
			margin-bottom: 12px

		&__wholesale
			padding: 4px 0 16px
			font-size: 14px
			line-height: 16px
			color: #2C3233

		&__delivery
			padding-top: 16px
			border-top: 1px solid #D9DBE2

			p
				margin-bottom: 6px
				color: #000

				span
					color: #2C3233
					padding-right: 2px

	&-characteristics

		&__list
			list-style: none

			li
				position: relative
				display: flex
				justify-content: space-between
				margin-bottom: 16px

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 2px
					border-bottom: 1px dashed #666				

				span
					position: relative
					background: #fff
					line-height: 28px

					&:first-child
						color: #666666

		&__all
			display: inline-block
			color: #DA7100
			font-weight: bold
			line-height: 28px



.article
	display: flex
	flex-wrap: wrap

	.h1, h1
		margin: 0 0 16px

	.h2, h2
		margin-bottom: 24px

	&-content
		width: calc(100% - 282px)
		padding-right: 24px

	&-body
		padding: 36px 48px 36px 36px
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

		p
			margin-bottom: 32px
			color: #2C3233

			strong
				font-weight: 900
				color: #000

		img
			display: block
			margin: 0 auto 32px
			border-radius: 4px

		ul
			padding-left: 15px
			margin-bottom: 32px

			li
				line-height: 28px

	&-date
		display: inline-block
		margin-bottom: 32px
		padding: 6px 16px
		background: #F5F6F7
		border-radius: 6px
		line-height: 28px

	&-sidebar
		width: 282px
		height: 100%
		padding: 20px 0px
		background: #FFFFFF
		border: 1px solid #D9DBE2
		border-radius: 12px

	&-nav
		padding: 0 16px
		list-style: none

		>li
			&.drop
				&:before
					top: 8px
					font-weight: bold
					font-size: 16px

				&:hover

					&:before
						color: #000



			>a
				display: block
				font-weight: bold
				line-height: 28px

				&:hover
					color: #000


				&.active
					background-color: transparent
					color: #000

		&__drop
			padding: 15px 10px 0
			list-style: none

			&.active
				display: block

			li
				margin-bottom: 12px

				&:last-child
					margin: 0

				a
					display: block
					font-size: 14px
					line-height: 20px
					color: #000000

					&:hover
						color: #eb5500
						opacity: 1

			


.modal
	display: none
	max-width: 570px
	width: 100%
	padding: 36px 24px 24px
	border-radius: 12px

	&-authorization
		max-width: 406px

		.h4
			margin: 0 0 16px

	&-delete
		max-width: 406px

		.h4
			margin: 0 0 16px

		p
			margin-bottom: 24px
			color: #455A64

		&__btn
			.btn
				width: 100%
				margin-bottom: 16px

				&:last-child
					margin-bottom: 0

	&-success
		max-width: 394px
		text-align: center

		img
			display: block
			margin: 0 auto 24px

		.h4
			margin-bottom: 2px

		p
			margin-bottom: 24px

		.btn
			max-width: 248px


	&-send
		max-width: 800px

		&__wrap
			display: flex
			flex-wrap: wrap

		&__img
			width: 43%

		&__form
			width: 57%
			padding-left: 24px
			padding-right: 24px

			.h4
				margin-bottom: 16px

			.form-item
				margin-bottom: 16px

			
	&-catalog
		max-width: 1145px
		padding: 16px 36px 24px
		background: #FFFFFF
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

		.fancybox-button
			display: none

		&__header
			display: flex
			flex-wrap: wrap
			align-items: center

			button
				position: relative
				top: 2px
				padding: 0
				outline: 0
				border: 0
				background-color: transparent
				font-size: 24px

				.icon
					font-weight: bold
				

			strong
				padding-left: 10px
				font-size: 14px
				color: #1A4395

	.h2
		margin-bottom: 28px

	&-body
		padding: 0



	.fancybox-button
		width: 24px
		height: 24px
		padding: 0
		opacity: 1
		right: 16px
		top: 16px

		svg
			path
				fill: #96969C
				transition: all .3s

		&:hover
			svg
				path
					fill: #000

	.h4
		color: #263239

	.btn-yellow
		width: 100%
		font-size: 18px
		line-height: 22px
		font-weight: normal

	
	.agreement
		padding-top: 16px
		&.check-list__item 
			input[type=checkbox]

				&+label
					color: #000

					a
						color: #000

					&::before
						width: 22px
						height: 22px

				&:checked

					&+label
						&:before
							background: #1A4395
							border-color: #1A4395

	&-search
		max-width: 765px
		padding: 12px
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 12px

		.fancybox-button
			display: none

		&__wrap
			padding-bottom: 32px

		.form
			&-search
				width: 100%
				

				&__field
					border: 2px solid #d9dbe2
					background: #fff

					&:focus
						border-color: #1A4395

				&__btn
					left: auto
					right: 24px

				&__clear
					position: absolute
					left: 24px
					top: 19px
					padding: 0
					background-color: transparent
					outline: none
					border: 0


	&-order-data
		max-width: 1000px
		box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
		border-radius: 6px

		.h2
			text-align: center

		.order-table thead td
			color: #1A4395

	&-select-list
		max-width: 636px
		border-radius: 6px

		.h4
			margin-bottom: 16px


	&-select-new
		max-width: 406px
		border-radius: 6px

		.h4
			margin-bottom: 16px

		.btn
			font-size: 14px
			line-height: 20px

		.form-item
			margin-bottom: 16px

	&-filters
		max-width: 1200px
		padding: 36px

		&.fancybox-content
			cursor: auto

		&__wrap
			display: flex
			flex-wrap: wrap

			.sidebar-item
				width: 282px
				height: 100%

				&__block
					margin-bottom: 6px
					border-bottom: 1px solid #D9DBE2

					&--body
						display: none
						padding: 6px
						background: #F5F6F7
						border-radius: 6px 6px 0px 0px

						.check-list__item
							&:last-child
								margin-bottom: 4px

		&__block
			width: calc(100% - 282px)
			padding-left: 36px

		&__btn
			margin-top: 80px
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.btn
				min-width: 260px
				width: auto
				font-size: 14px
				line-height: 18px










.select-list

	ul
		padding-left: 22px
		list-style: none

		li
			position: relative
			margin-bottom: 8px
			cursor: pointer
			color: #000
			line-height: 20px


			&.active
				&:before
					content: ''
					position: absolute
					left: -17px
					top: 6px
					width: 5px
					height: 5px
					border-radius: 50%
					background: #000

	&__add
		display: flex
		align-items: center
		color: #1A4395

		.icon
			margin-right: 4px
			font-size: 18px
			font-weight: bold
			color: #1A4395

		span
			color: #1A4395

	&__btn
		display: flex
		flex-wrap: wrap
		padding-top: 40px

		.btn
			margin-right: 12px
			width: auto
			font-size: 14px
			line-height: 16px


















		
.color

	&-red
		color: #c42441



.faq
	
	&-item
		margin-bottom: 12px
		padding: 0 16px
		background: #F5F6F7
		border: 1px solid #D9DBE2
		border-radius: 12px

		&.active
			box-shadow: 0px 4px 24px rgba(18, 42, 78, 0.08)
			background: #fff

			.faq
				&-header
					font-weight: bold
					border-bottom: 1px solid #D9DBE2

					&:before
						content: '\e907'
						font-weight: normal
						background: #DA7100


			

	&-header
		position: relative
		padding: 22px 35px 22px 0
		cursor: pointer

		&:before
			content: '\e900'
			position: absolute
			top: 16px
			right: 0
			width: 32px
			height: 32px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			background: #1A4395
			border-radius: 65px
			font-family: icomoon
			font-size: 16px
			color: #fff



	&-body
		display: none
		padding: 16px 0

		p
			margin-bottom: 24px

			&:last-child
				margin-bottom: 0

		ul
			padding-left: 24px
			margin-bottom: 24px

			li
				line-height: 28px

		.h6
			margin: 0 0 10px



.jobs

	&-contacts
		display: flex
		align-items: center
		flex-wrap: wrap
		padding: 24px
		margin-bottom: 56px
		border: 1px solid #D9DBE2
		border-radius: 12px

		&__img
			width: 108px

		&__info
			width: calc(100% - 108px)
			padding-left: 24px

			.h6
				margin: 0 0 12px

		&__list
			display: flex
			flex-wrap: wrap
			list-style: none

			li
				margin-right: 48px

				&:last-child
					margin-right: 0

				span
					display: block
					margin-bottom: 4px
					font-size: 12px
					line-height: 14px
					color: #666666

					&+span
						font-size: 16px
						line-height: 20px
						color: #000

				a
					color: #1A4395
					line-height: 20px

	&-wrap

		.jobs

			&-contacts

				&__list
					margin-bottom: 16px
					&:last-of-type
						margin-bottom: 0
				
				&__img
					width: 196px

				&__info
					width: calc(100% - 196px)

					&.width-auto
						padding-left: 0
						width: auto
						padding: 24px
						margin-bottom: 56px
						border: 1px solid #D9DBE2
						border-radius: 12px

						.h6
							margin: 0 0 12px

						.jobs-contacts__list
							


							li
								display: block
								margin-bottom: 12px

								&:last-child
									margin-bottom: 0




.width-auto
	width: auto


.contacts

	&-map
		margin-top: 24px
		margin-bottom: 56px

	&-info
		
		&.row
			margin-left: -12px
			margin-right: -12px

			[class^=col]
				padding-left: 12px
				padding-right: 12px

		.h2
			margin: 0 0 24px
			text-align: left

		&__item
			padding: 24px
			border: 1px solid #D9DBE2
			border-radius: 12px

			

			p
				margin-bottom: 24px

				&:last-of-type
					margin-bottom: 0

.bg-white
	background: #fff




























@media screen and (max-width: 1599px)
	
	.banner

		&-item
			&__content
				padding: 50px 30px

				&--title
					font-size: 17px
					line-height: 22px

				ul
					margin-top: 16px

					li
						margin-bottom: 16px

						a
							font-size: 12px
							line-height: 15px

							&:hover
								font-weight: 500

				.btn
					padding: 12px 20px 10px
					font-size: 12px
					line-height: 16px

	.container
		padding-left: 30px
		padding-right: 30px

	.section
		padding: 50px 0

		&-inner
			padding-top: 0

	.news
		&-block
			&.row
				margin-left: -20px
				margin-right: -20px

				[class^='col']
					padding-left: 20px
					padding-right: 20px

		&-banner

			&__item

				&--overlay
					padding: 24px

				.h1
					font-size: 28px
					line-height: 35px

				p
					margin-bottom: 14px
					font-size: 14px
					line-height: 24px

				.btn
					padding: 13px 24px 11px

	.subscription
		padding: 35px 30px

		&-form
			max-width: 500px

		.agreement
			br
				display: none

	.inner-large
		.container
			padding-left: 30px
			padding-right: 30px









@media screen and (max-width: 1360px)
	.banner

		&-item
			&__content
				padding: 35px 20px


	.subscription
		&-text
			margin-right: 0

		&-block
			margin-top: 32px







@media screen and (max-width: 1199px)

	.header
		&-top
			&__left
				span
					display: none

	.banner
		flex-direction: column
		padding-top: 130px
		background: url(../img/banner-main.jpg) no-repeat
		background-size: cover

		&-item
			width: 100%
			height: auto

			&__content
				width: 100%
				padding: 0 32px

				&--title
					padding: 16px 0
					font-weight: 550
					font-size: 18px
					line-height: 26px
					border-bottom: 1px solid rgba(255, 255, 255, 0.3)

				&--description
					display: none

	.mobile-menu
		display: block

		.form-search
			width: 100%


			&__field
				background: #fff
				line-height: 52px
				border-radius: 0

			&__btn
				top: 17px

	.inner-large
		.catalog-top
			flex-wrap: wrap

			h1, .h1
				width: 100%

	.account
		&-content
			padding: 0
			width: 100%

	.basket
		&-wrap
			display: block

		&-block
			width: auto
			padding-right: 0

	
	.order
		&-total+p
			margin-bottom: 16px

	.card
		&-img
			flex-direction: column-reverse
			margin-bottom: 24px
			&__slider
				&--nav
					width: auto

	.product-related__wrap.row
		.col
			width: 25%
			margin-bottom: 24px


	.modal
		&-filters
			&__btn
				display: block

				.btn
					margin-bottom: 12px










@media screen and (max-width: 991px)
	
	.header
		&-top
			&__right

				.btn
					display: none

			&__links
				display: none


	.footer
		&-wrap
			flex-direction: column
			padding-top: 32px

		&-item
			&:first-child
				text-align: center

			&__social
				&--payment
					ul
						justify-content: center

			&__links
				max-width: none
				max-width: 320px
				margin: 0 auto


				.h3
					position: relative
					margin: 0
					padding: 12px 0
					font-size: 18px
					font-weight: normal
					border-bottom: 1px solid rgba(255,255,255,.3)

					&:last-child
						border: 0

					&:before
						content: '\e900'
						position: absolute
						right: 0
						top: 12px
						font-family: icomoon
						font-size: 18px
						color: #fff
						transition: all .3s

					&.active
						&:before
							transform: rotate(-180deg)

				ul
					display: none
					padding-top: 16px

				&+.footer-item__links
					padding-top: 12px

					.h3
						border: 0

		&-logo
			margin-bottom: 16px

	.subscription

		&-img
			display: none

		&-text
			text-align: center

			p
				margin: 0 auto

		&-form
			width: 100%
			margin: 0 auto
			max-width: none

			.btn
				right: 0

	.news

		&-block
			&.row
				margin-left: -16px
				margin-right: -16px

				[class^=col]
					padding-left: 16px
					padding-right: 16px

		&-banner

			&__item
				margin-bottom: 24px

		&-main

			&.row
				margin-left: -16px
				margin-right: -16px

	.sidebar
		position: fixed
		left: 0
		top: 209px
		width: 282px
		padding: 32px 16px  20px
		z-index: 1
		transform: translateX(-270px)
		height: calc(100vh - 154px)
		transition: all .3s

		>*:not(.sidebar-mobile__btn)
			display: none


		&.active
			z-index: 999
			background: #fff
			transform: translateX(0)
			overflow-y: scroll
			border-radius: 0 20px 0 0

			>*:not(.sidebar-mobile__btn)
				display: block

			.sidebar-item
				display: block

			.sidebar-mobile__btn
				right: 3px
				top: 3px
				width: 30px
				height: 30px
				background: transparent

				.ic-filter
					background: transparent

					&:before
						content: '\e908'
						font-family: icomoon
						font-size: 24px
						color: #000



		&-mobile__btn
			position: absolute
			display: flex
			align-items: center
			justify-content: center
			right: -25px
			top: 204px

	.catalog
		&-products
			width: 100%

	.product
		&-table
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			&__row
				display: block
				width: 32%
				padding: 16px
				margin-bottom: 16px
				border: 1px solid #d9dbe2
				border-radius: 12px

			&__col
				display: block
				text-align: center
				padding: 6px 0
				border: 0

			&__img
				margin: 0 auto

			.product-table__compare
				margin: 0 auto

			.product-table__cart
				margin: 0 auto

			.product-table__price
				margin: 0 auto

			p
				font-size: 14px
				line-height: 24px

	.inner-large
		.catalog-top
			&__view
				display: none

	.orders
		&-top
			display: block

			&__search
				margin-top: 16px

		&-block
			&.row
				display: block

				.col-lg-7
					width: auto

				.col-lg-5
					width: auto

			&__products
				justify-content: flex-start

	.product-related__wrap.row
		.col
			width: 33.333%

	.article
		flex-direction: column-reverse

		&-content
			width: 100%
			padding: 0
		&-sidebar
			margin-bottom: 24px


	.succses
		&-top
			margin-bottom: 32px

			img
				display: none

			&__text
				width: auto
				padding-left: 0

	.jobs-contacts__img
		display: none

	.jobs-wrap .jobs-contacts__info
		padding-left: 0
		width: auto

	.contacts-info__item
		margin-bottom: 24px


	.favorites
		&-top
			display: block

		&-check

		.favorites

			&-item
				position: relative

				&__left
					max-width: none

				&__right
					max-width: none

				&__btn
					&--del
						position: absolute
						top: 8px
						right: 10px
						width: 20px
						height: 20px
						font-size: 0
						text-indent: -9999px

						&:before
							content: '\e907'
							font-size: 18px
							position: absolute
							left: 0
							right: 0
							top: 0
							bottom: 0
							display: flex
							align-items: center
							justify-content: center
							font-family: icomoon
							text-indent: 0



























@media screen and (max-width: 768px)

	.container
		padding-left: 16px
		padding-right: 16px

	.inner-large
		.container
			padding-left: 16px
			padding-right: 16px
	
	.header
		&-top
			padding: 12px 16px

			&__right
				&--tel
					display: none

			&__messengers
				display: none

		.logo
			max-width: 220px

		&-bottom
			.form-search
				display: none




	h1, .h1
		font-weight: normal
		font-size: 28px
		line-height: 35px



	h2,.h2
		font-weight: 550
		font-size: 22px
		line-height: 26px

	h3,.h3
		font-size: 18px
		line-height: 24px

	h4, .h4
		font-weight: bold
		font-size: 16px
		line-height: 22px

	h5, .h5
		font-weight: bold
		font-size: 16px
		line-height: 22px

	h6, .h6
		font-weight: bold
		font-size: 16px
		line-height: 22px

	.section
		padding: 36px 0

		&-inner
			padding-top: 0

	.brands
		&-slider
			padding: 0


	.news
		&-banner
			&__item
				.h1
					font-size: 24px
					line-height: 32px

				img
					min-height: 186px
					object-fit: cover

				&--overlay
					padding: 16px 24px



		&-block
			&.row 
				[class^=col]

		&-item
			&:last-child
				border-bottom: 1px solid #d9dbe2

		&-main 
			.col-lg-5 
				.news-item
					margin-bottom: 16px

	.subscription
		padding-top: 0
		border: 0

	.product
		&-wrap
			display: flex
			flex-wrap: wrap

			.col-lg-4.col-md-6.col-sm-6
				width: 50%

		&-table

			&__row
				width: 48%

	.catalog
		&-pagination
			display: block
			text-align: center

			&__select
				margin-top: 16px

	.orders-top__period
		display: block	
	
	.radio-btn

		li
			display: block
			margin: 0 0 12px

	.orders-block__info--top
		display: block
		
	.orders-block__info--tag
		padding-left: 0

	.orders-block__info--code
		margin-bottom: 12px

	.basket
		&-search
			flex-direction: column-reverse

			&__form
				width: 100%

			.count
				margin: 12px 0

		&-table
			display: block

			&__row
				display: block

			&__col
				display: block
				text-align: center
				padding: 0

				&--count
					margin: 0 auto 12px
					width: 116px

				&--price
					width: auto

				&--summ
					width: auto
					padding-top: 12px
					margin-top: 12px
					border-top: 1px solid #d9dbe2

					&:before
						content: 'Всего: '
						display: inline-block

			&__text
				width: auto
				padding-left: 0

				p
					margin-bottom: 12px


			&__header
				display: none

			&__info
				display: block

			&__img
				margin: 0 auto 12px

	.accessories
		&-item
			margin-bottom: 12px

			&:last-child
				margin-bottom: 0

	.accessories
		display: block

		&-header
			width: auto
			margin-bottom: 16px

		&-wrap
			width: auto

	.product-related__wrap.row
		.col
			width: 50%

	.order
		&-table
			&__wrap
				padding: 24px 16px

			tbody 
				tr 
					td
						padding-bottom: 16px
						padding-left: 12px
						&:first-child 
							img
								display: none

	.modal
		&-send
			&__img
				display: none

			&__form
				width: 100%

	.compare
		&-characteristics
			&__header
				display: block




@media screen and (max-width: 650px)
	.product-wrap__list 
		.product-item
			justify-content: center

			&__info
				margin-bottom: 12px

			&__price
				text-align: center

			&__compare
				margin: 0 auto


	.favorites-top__left 
		.form-item__select
			display: block

			&--btn
				margin: 12px 0


	.favorites-select
		padding: 24px 16px
		display: block

		&__check
			margin-bottom: 12px

	.favorites-btn
		flex-direction: column

		.btn-transparent
			margin-bottom: 12px


	.modal
		&-filters
			&__wrap
				display: block

				.sidebar-item
					width: auto

			&__btn
				margin-top: 32px

			&__block
				padding-left: 0
				width: auto






@media screen and (max-width: 550px)

	.product-wrap
	
		.col-lg-3.col-md-4.col-sm-6.col-xs-6
			width: 100%

		.col-lg-4.col-md-6.col-sm-6
				width: 100%
	
	.favorites-item__right
		align-items: center

	.favorites-item__btn
		width: 100%
		display: flex
		justify-content: space-between
		flex-direction: row-reverse
		align-items: center
		padding-top: 12px

		&--del
			margin: 0


	.order
		&-table
			font-size: 12px

			thead

				td
					padding-left: 6px
					padding-bottom: 12px

			tbody 
				tr 
					td
						padding-bottom: 12px
						padding-left: 6px

						&:first-child
							padding-right: 6px
							width: auto

							span
								width: auto
								padding-left: 0

			








	



@media screen and (max-width: 479px)
	
	.brands
		&-slider
			margin-left: -16px
			margin-right: -16px
			overflow: hidden

			&__item
				margin-left: 30px
				margin-right: 30px

	.subscription
		&-form
			.btn
				position: static
				width: 100%
				margin-top: 12px

	.btn
		&-catalog
			padding: 12px 18px

			span
				padding-left: 12px

	.header
		&-btn
			padding-right: 6px
			li
				margin-left: 16px
			&__cart
				&--text
					display: none

		&-top
			&__tel
				&--number
					display: none

		&-bottom
			padding: 12px 0

	.inner

		.header
			.logo
				max-width: 170px

			&-top
				padding: 12px 0


	.compare-product
		display: block
		.product-item
			width: 100%
			max-width: none
			margin-right: 0
	.product-add
		margin-bottom: 24px

		&__link
			margin: 0 auto 12px

	.product
		&-table

			&__row
				width: 100%

	.account-select__mobile
		max-width: 100%

	.accessories-item
		max-width: none

	.order-item__block--user
		.form-item
			width: 100%

	.product-related
		padding: 24px 0
		&__wrap.row
			.col
				width: 100%
				border: 0

	.article
		&-body
			padding: 16px

	.header-cart__block
		width: 320px

	.favorites-btn

		.btn
			width: 100%

	.modal
		&-filters
			padding: 24px
			
			&__btn
				.btn
					width: 100%